<div class="custom-portal">
    <ng-container #viewContainer />
</div>
<header tuiNavigationHeader>
    <button
        title="Menu"
        tuiIconButton
        tuiNavigationDrawer
        type="button"
        [(open)]="open"
    >
        <tui-data-list>
            <tui-opt-group
                *ngFor="let group of drawer | keyvalue"
                [label]="group.key"
            >
                <button
                    *ngFor="let item of group.value"
                    tuiOption
                    type="button"
                    (click)="open = false"
                >
                    <img
                        alt="icon"
                        [src]="item.icon"
                    />
                    {{ item.name }}
                </button>
            </tui-opt-group>
            <tui-opt-group>
                <label tuiOption>
                    <input
                        size="s"
                        tuiSwitch
                        type="checkbox"
                        [(ngModel)]="switch"
                    />
                    Dark mode
                </label>
            </tui-opt-group>
        </tui-data-list>
    </button>
    <span tuiNavigationLogo>
        <tui-icon icon="@tui.home" />
        <span tuiFade>Broadcasting and Control System</span>
        <tui-badge>v1.0.0</tui-badge>
    </span>
    <span tuiNavigationSegments>
        <button
            appearance="secondary-grayscale"
            tuiButton
            type="button"
        >
            Help
        </button>
        <button
            appearance="secondary-grayscale"
            tuiButton
            type="button"
        >
            Contact
        </button>
        <button
            appearance="secondary-grayscale"
            tuiButton
            tuiChevron
            tuiDropdownOpen
            type="button"
            [tuiDropdown]="products"
        >
            <span
                [style.overflow]="'hidden'"
                [style.text-overflow]="'ellipsis'"
            >
                Projects
            </span>
            <ng-template #products>
                <tui-data-list size="s">
                    <button
                        tuiOption
                        type="button"
                    >
                        CMS
                        <tui-icon
                            icon="@tui.check"
                            [style.font-size.em]="1"
                            [style.margin-left.rem]="0.5"
                        />
                    </button>
                    <button
                        tuiOption
                        type="button"
                    >
                        WhatsApp Automation
                    </button>
                </tui-data-list>
            </ng-template>
        </button>
    </span>
    <hr />
    <button
        appearance="secondary-grayscale"
        iconStart="@tui.plus"
        tuiButton
        type="button"
    >
        Create
    </button>
    <button
        iconStart="@tui.bell"
        tuiIconButton
        type="button"
    >
        Notifications
        <tui-badge-notification />
    </button>
    <button
        iconStart="@tui.ellipsis"
        tuiIconButton
        type="button"
    >
        More
    </button>
    <tui-avatar src="AI" />
</header>